<?xml version="1.0" encoding="UTF-8"?>
<AutomationConfiguration>
    <AutomationLayers>
        <AutomationLayer>
            <Guid>d74b83f4d454460c8aea8b5f530f7769</Guid>
            <Name>Default</Name>
            <Objects>
                <Object>
                    <ObjectType>__PARAMS</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Footer" CodeSnippet="-------------------------------------------&#10;-------------- FOOTER ------------------&#10;-------------------------------------------&#10;"/>
                        <Action ActionName="Header" CodeSnippet="-------------------------------------------&#10;-------------- HEADER ------------------&#10;-------------------------------------------&#10;"/>
                        <Action ActionName="Join" CodeSnippet="-------------------------------------------&#10;---------------- JOIN --------------------&#10;-------------------------------------------&#10;"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Browser</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Go To Address" CodeSnippet="browser.get('~Page_Address~');&#10;"/>
                        <Action ActionName="IgnoreSyncing" CodeSnippet="browser.ignoreSynchronization = true;&#10;"/>
                        <Action ActionName="Refresh Page" CodeSnippet="browser.navigate().refresh();&#10;"/>
                        <Action ActionName="Sleep" CodeSnippet="browser.sleep(~Duration_in_ms~);&#10;"/>
                        <Action ActionName="Validate Current Title" CodeSnippet="expect(browser.getTitle()).toEqual('~webPageTitle~');&#10;"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>CONFIG</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Begin Exports" CodeSnippet="exports.config = {&#10;"/>
                        <Action ActionName="End Exports" CodeSnippet="}&#10;"/>
                        <Action ActionName="Framework" CodeSnippet="framework: '~framework~', &#10;"/>
                        <Action ActionName="Multiple Browsers" CodeSnippet="multiCapabilities: [{&#10;  'browserName': 'chrome'&#10;}, {&#10;  'browserName': 'firefox'&#10;}],&#10;"/>
                        <Action ActionName="Selenium Address" CodeSnippet="seleniumAddress: '~seleniumAddress~', &#10;"/>
                        <Action ActionName="Specification Scripts" CodeSnippet="specs: ['~SpecificationScriptNames~'],&#10;"/>
                        <Action ActionName="XML Reporting" CodeSnippet="/*&#10;Need Jasmine Reporting and timestamp directories, get with:&#10;&quot;npm install jasmine-reporters&quot;&#10;&quot;npm install mkdirp&quot;&#10;*/&#10;  onPrepare: function() {&#10;    var folderName = (new Date()).toString().split(' ').splice(1, 4).join(' ');&#10;    var mkdirp = require('mkdirp');&#10;    var newFolder = &quot;./reports/&quot; + folderName;&#10;    require('jasmine-reporters');&#10;&#10;    mkdirp(newFolder, function(err) {&#10;      if (err) {&#10;        console.error(err);&#10;      } else {&#10;        jasmine.getEnv().addReporter(new jasmine.JUnitXmlReporter(newFolder, true, true));&#10;      }&#10;    });&#10;  },&#10;"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Console</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Log Text: Path Finished" CodeSnippet="console.log('\t-&gt;\t Use Case ##Path Name[p1]## has finished.');&#10;"/>
                        <Action ActionName="LogText: Variable" CodeSnippet="console.log('~output_text~');&#10;"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Describe Path</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Begin Function" CodeSnippet="&#10;describe('##Path Name[p1]##', function()&#10;{&#10;"/>
                        <Action ActionName="End Function" CodeSnippet="});&#10;"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Element</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Click Button by ng-click" CodeSnippet="var btn = element.all(by.css('[ng-click=&quot;~Button_Identifier~&quot;]'));&#10;btn.click();&#10;"/>
                        <Action ActionName="Click Link by CSS" CodeSnippet="element(by.css('~linkCSS~a')).getAttribute('href').click();&#10;"/>
                        <Action ActionName="example" CodeSnippet="##OBJ_NAME## &#10;##Name[b0]##&#10;##Title[f1]##&#10;##Path Name[p1]##"/>
                        <Action ActionName="Expect Element Not Present" CodeSnippet="// Element not present.&#10;expect(element(by.binding('##OBJ_NAME##')).isPresent()).toBe(false);&#10;"/>
                        <Action ActionName="Expect Element Present" CodeSnippet="// Element exists. e.g. &lt;span&gt;{{##OBJ_NAME## }}&lt;/span&gt;&#10;expect(element(by.binding('~elementToBePresent~')).isPresent()).toBe(true);&#10;"/>
                        <Action ActionName="Expect Link Points to Address" CodeSnippet="expect(element(by.css('~className~a')).getAttribute('href')).toEqual('~expectedAddressField~');&#10;"/>
                        <Action ActionName="Find Element" CodeSnippet="// ~TestVariable~ &#10;&#10;browser.findElement(by.css('~elementByCSS~'));&#10;"/>
                        <Action ActionName="Send Keys by Model" CodeSnippet="element(by.model('~model~')).sendKeys('~inputText~');&#10;"/>
                        <Action ActionName="Wait Until Element Is Present" CodeSnippet="browser.wait(element(by.id('~elementByID~')).isPresent);&#10;"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>Form</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Get Form Element" CodeSnippet="var ##Name[0]##Form = driver.findElement(By.css('##Name[0]##Form'));&#10;"/>
                        <Action ActionName="Send Filepath to file input" CodeSnippet="// ~FileInputElement~ is the name of the file input element.&#10;var element = ##Name[0]##form.findElement(By.css('~FileInputElement~[type=file]'));&#10;// ~FilePath~ is the filepath to send to the file input element.&#10;element.sendKeys('~FilePath~');&#10;"/>
                        <Action ActionName="Submit Form" CodeSnippet="browser.findElement(By.css('~nameOfForm~')).submit();&#10;"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>It</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Begin Function" CodeSnippet="&#10;it('##Data Notes[b2003]##', function()&#10;{&#10;"/>
                        <Action ActionName="End Function" CodeSnippet="});&#10;"/>
                    </ObjectActions>
                </Object>
                <Object>
                    <ObjectType>PREVIEW</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Preview_Begin" CodeSnippet="describe('Preview: ##Name[b0]##', function()&#10;{&#10;it('Should load the page by address', function()&#10;{&#10;&#9;browser.get('~pageAddress~');&#10;&#9;browser.sleep('~sleepInMS~');&#10;});&#10;"/>
                        <Action ActionName="Preview_End" CodeSnippet="});&#10;"/>
                        <Action ActionName="TEST ACTION" CodeSnippet="##Name[b0]##&#10;##Path Name[p1]##"/>
                    </ObjectActions>
                </Object>
            </Objects>
            <PreviewDetails>
                <RunFileLocation>C:/AutomationDemo/Setup_WithDriver+Server.bat</RunFileLocation>
                <EditLanguage>3</EditLanguage>
                <EditTheme>6</EditTheme>
                <EditorType>0</EditorType>
                <FromFileStructure>False</FromFileStructure>
                <MapFromBlockAttributes/>
            </PreviewDetails>
            <ExportSettings>
                <FileConfiguration>43</FileConfiguration>
                <FileNamingSystem>0</FileNamingSystem>
                <FileNameVariable></FileNameVariable>
                <FilePrefix></FilePrefix>
                <FileExtension></FileExtension>
                <ExtensionSettings/>
                <PreviewHeaderFooter>
                    <Header>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <PathHeader>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                    <StepHeader>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepHeader>
                    <StepFooter>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepFooter>
                </PreviewHeaderFooter>
            </ExportSettings>
            <LayerVariables/>
        </AutomationLayer>
    </AutomationLayers>
</AutomationConfiguration>
